












<div class="card">
    <br>
    <div class="row">
        <div class="col-lg-12">

      <button class="btn btn-circle btn-sm" ondblclick="data-toggle" data-toggle="modal" data-target="#myModal">
        <i class="fas fa-edit"></i>
      </button>
      <div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Enter Staff code</h4>
      </div>
      <div class="modal-body">
        <form class="form-inline">
        <label class="sr-only" for="inlineFormInputGroupUsername2">Enter Code</label>
        <div class="input-group mb-2 mr-sm-2">
          <input type="password" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Enter Code">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <hr>
    <!--for loop here-->
    <div class="card">
    <div class="card-header">
      <h4>Base Item</h4>
    </div>
    <div class="card-body">

      <h4 class="card-title">Modifiers</h4>

      <h4 class="card-title">Notes</h4>
      <h4 class="card-title">Quantity</h4>
      <h4 class="card-title">Price</h4>
    </div>
    </div>
    <hr>




    <h6>subtotal ${{subtotal}}</h6>
    <h6>Taxes ${{taxes}}</h6>
    <h6>Security Fee $0.10</h6>
    <h5>Total ${{total}}</h5>
    <hr>

    <form class="form-inline">
    <button type="submit" class="btn btn-primary mb-2">Pay Now</button>
    <!--JS webview script here-->
    </form>
    </div>
