<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="manifest" href="/manifest.json">
  <link rel="apple-touch-icon" sizes="60x60" href="../../../static/img/CedarRoboticsLogo.jpg">
 <link rel="apple-touch-icon" sizes="57x57" href="../../../static/img/CedarRoboticsLogo.jpg">
 <link rel="apple-touch-icon" sizes="72x72" href="../../../static/img/CedarRoboticsLogo.jpg">
 <link rel="apple-touch-icon" sizes="76x76" href="../../../static/img/CedarRoboticsLogo.jpg">
 <link rel="apple-touch-icon" sizes="114x114" href="../../../static/img/CedarRoboticsLogo.jpg">
 <link rel="apple-touch-icon" sizes="120x120" href="../../../static/img/CedarRoboticsLogo.jpg">
 <link rel="apple-touch-icon" sizes="144x144" href="../../../static/img/CedarRoboticsLogo.jpg">
 <link rel="apple-touch-icon" sizes="152x152" href="../../../static/img/CedarRoboticsLogo.jpg">
 <link rel="apple-touch-icon" sizes="180x180" href="../../../static/img/CedarRoboticsLogo.jpg">
 <link rel="icon" type="image/png" sizes="192x192"  href="../../../static/img/CedarRoboticsLogo.jpg">
 <link rel="icon" type="image/png" sizes="32x32" href="../../../static/img/CedarRoboticsLogo.jpg">
 <link rel="icon" type="image/png" sizes="96x96" href="../../../static/img/CedarRoboticsLogo.jpg">
 <link rel="icon" type="image/png" sizes="16x16" href="../../../static/img/CedarRoboticsLogo.jpg">
 <link rel="manifest" href="/manifest.json">
 <meta name="msapplication-TileColor" content="#000000">
 <meta name="msapplication-TileImage" content="../../../static/img/CedarRoboticsLogo.jpg">
 <meta name="theme-color" content="#000000">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Caleb John">

  <title>Menu</title>

  <!-- Custom fonts for this template-->
  <link href="../../../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="../../../static/css/tab.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


</head>
<div class="container-fluid">
<div class="card">
    <br>
    <div class="row">
        <div class="col-lg-12">

      <button class="btn btn-circle btn-sm" ondblclick="data-toggle" data-toggle="modal" data-target="#myModal">
        <i class="fas fa-edit"></i>
      </button>
      <div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Enter Staff code</h4>
      </div>
      <div class="modal-body">
        <form class="form-inline">
        <label class="sr-only" for="inlineFormInputGroupUsername2">Enter Code</label>
        <div class="input-group mb-2 mr-sm-2">
          <input type="password" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Enter Code">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <hr>
    <!--for loop here-->
    <div class="card">
    <div class="card-header">
      <h4>Base Item</h4>
    </div>
    <div class="card-body">

      <h4 class="card-title">Modifiers</h4>

      <h4 class="card-title">Notes</h4>
      <h4 class="card-title">Quantity</h4>
      <h4 class="card-title">Price</h4>
    </div>
    </div>
    <hr>




    <h6>subtotal ${{subtotal}}</h6>
    <h6>Taxes ${{taxes}}</h6>
    <h6>Security Fee $0.10</h6>
    <h5>Total ${{total}}</h5>
    <hr>

    <form class="form-inline">
    <button type="submit" class="btn btn-primary mb-2">Pay Now</button>
    <!--JS webview script here-->
    </form>
    </div>
</div>
