<div id="Menu" class="tabcontent">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
          Category</a>
          </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
            <div class="panel panel-default">

            <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2">Base Item</a>
            </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
            <h4 class="card-title">description</h4>
            <h6 class="card-title">more info</h6>
            <hr>
            <div class="card">
            <h4 class="card-header">Size</h4>
            <div class="card-body">
              <div class="form-check">
                <label class="form-check-label" for="exampleRadios1">
                  Size 1
                </label>
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
            </div>
            <br>
            <div class="form-check">
              <label class="form-check-label" for="exampleRadios2">
                Size 2
              </label>
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            </div>
            </div>
            </div>
            <hr>

            <div class="card">
            <h4 class="card-header">Modifier</h4>
            <div class="card-body">
              <h5 class="card-title">(min 1, max 2)</h5>
                <div class="form-check">
                  <label class="form-check-label" for="defaultCheck1">
                    Option 1
                  </label>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                </div>
                <br>
                <div class="form-check">
                  <label class="form-check-label" for="defaultCheck1">
                    Option 2
                  </label>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                </div>
            </div>
            </div>
            <hr>

  <div class="form-group">
      <label for="exampleFormControlSelect0">Notes</label>
    <input class="form-control" type="text" placeholder="Notes" id="exampleFormControlSelect1">
    <br>
    <label for="validationDefault05">Quantity</label>
    <input type="number" class="form-control" id="validationDefault05" placeholder="1">
  </div>
            <div class="row">
                <div class="col-lg-12">
              <strong> Add Item </strong>
              <a href="#" class="btn btn-success btn-circle btn-sm">
              <i class="fas fa-check"></i>
              </a>
                </div>
            </div>
            </div>

    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>

  <div id="Help" class="tabcontent">

    <div class="container">
      <hr>
    <div class="row">
      <div class="col-sm-3">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#drink">Refill Drink</button>
        <div id="drink" class="collapse">
          <br>
          <h5>Enter Drinks to Refill</h5>

        <div class="row">
          <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="Drinks">
          </div>
          <div class="col-sm-1">
          <button class="btn btn-success" type="submit">Request</button>
         </div>
        </div>

        </div>
      </div>
      <div class="col-sm-3">
        <button type="button" class="btn btn-primary btn-lg">Extra Napkins</button>
      </div>
      <div class="col-sm-3">
        <button type="button" class="btn btn-primary btn-lg">Extra Cutlery</button>
      </div>
      <div class="col-sm-3">
        <button type="button" class="btn btn-primary btn-lg">Clear Table</button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#iss">Issue With Food</button>
        <div id="iss" class="collapse">
        <br>
        <h5>Enter Issue</h5>

      <div class="row">
        <div class="col-sm-8">
        <input type="text" class="form-control">
        </div>
        <div class="col-sm-1">
        <button class="btn btn-success" type="submit">Send</button>
       </div>
      </div>
      </div>
      </div>

      <div class="col-sm-3">
        <button type="button" class="btn btn-primary btn-lg">Box Food</button>
      </div>
      <div class="col-sm-3">

      <button type="button" class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#cond">Request Condiments</button>
      <div id="cond" class="collapse">
      <br>
      <h5>Enter Condiments</h5>

    <div class="row">
      <div class="col-sm-8">
      <input type="text" class="form-control" placeholder="Condiments">
      </div>
      <div class="col-sm-1">
      <button class="btn btn-success" type="submit">Request</button>
     </div>
    </div>

      </div>
      </div>


      <div class="col-sm-3">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#othr">Other</button>
        <div id="othr" class="collapse">
          <br>
          <h5>Enter Request</h5>

        <div class="row">
          <div class="col-sm-8">
          <input type="text" class="form-control">
          </div>
          <div class="col-sm-1">
          <button class="btn btn-success" type="submit">Request</button>
         </div>
        </div>

        </div>
      </div>
    </div>
    </div>


  </div>
