<!DOCTYPE html>
<html lang="en">

<head>
  <style>
  input[type=checkbox] {
 zoom: 2.5;
}
   </style>
  <link rel="apple-touch-icon" sizes="60x60" href="../../../static/img/CedarRoboticsLogo.jpg">
  <link rel="apple-touch-icon" sizes="57x57" href="../../../static/img/CedarRoboticsLogo.jpg">
  <link rel="apple-touch-icon" sizes="72x72" href="../../../static/img/CedarRoboticsLogo.jpg">
  <link rel="apple-touch-icon" sizes="76x76" href="../../../static/img/CedarRoboticsLogo.jpg">
  <link rel="apple-touch-icon" sizes="114x114" href="../../../static/img/CedarRoboticsLogo.jpg">
  <link rel="apple-touch-icon" sizes="120x120" href="../../../static/img/CedarRoboticsLogo.jpg">
  <link rel="apple-touch-icon" sizes="144x144" href="../../../static/img/CedarRoboticsLogo.jpg">
  <link rel="apple-touch-icon" sizes="152x152" href="../../../static/img/CedarRoboticsLogo.jpg">
  <link rel="apple-touch-icon" sizes="180x180" href="../../../static/img/CedarRoboticsLogo.jpg">
  <link rel="icon" type="image/png" sizes="192x192"  href="../../../static/img/CedarRoboticsLogo.jpg">
  <link rel="icon" type="image/png" sizes="32x32" href="../../../static/img/CedarRoboticsLogo.jpg">
  <link rel="icon" type="image/png" sizes="96x96" href="../../../static/img/CedarRoboticsLogo.jpg">
  <link rel="icon" type="image/png" sizes="16x16" href="../../../static/img/CedarRoboticsLogo.jpg">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="msapplication-TileImage" content="../../../static/img/CedarRoboticsLogo.jpg">
  <meta name="theme-color" content="#000000">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Caleb John">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
      <link href="../../../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <title>Employee Panel</title>
</head>

<body>
<br>

<div class="container-fluid">
  <h2>{{restName}} {{location}} Employee Panel <button class="btn-lg btn-light" onClick="window.location.reload()"><i class="fas fa-sync"></i></button></h2>
  <br>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home">Requests</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu1">Deactivate Item</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu3">Activate Item</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu-tickets">Tickets</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
  <div id="home" class="container tab-pane active"><br>
  <div class="container">
      {% for key_req, req in reqData.items() %}
      <!-- <h3>{{req}}  </h3><br><h4>{{key_req}}</h4><br> -->
      <!-- <h3>Table #{{req.info.table}}</h3><br> -->

      {% if req.help %}
        <div class="row">
        <div class="col-lg-8">
        <div class="card">
        <div class="card-body">
        <h3 class="card-title">Table #{{req.info.table}}</h3><br>
        <h3 class="card-text">{{req.help}}</h3><br>
        <div class="row">
        <div class="col-lg-1">
        <form method="POST" action="view-success">
        <button type="submit" name="req" value="{{key_req}}" class="btn btn-success btn-circle btn-lg">
        <i class="fas fa-check"></i>
        </button>
        </form>
        </div>
        <div class="col-lg-1">
        <button data-toggle="modal" data-target="#warn{{key_req}}" class="btn btn-warning btn-circle btn-lg">
        <i class="fas fa-exclamation-triangle"></i>
        </button>
        <div class="modal" id="warn{{key_req}}" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title">Accept Request With Warning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <form method="POST" action="view-warning">
        <div class="modal-body">
        <label>Enter Warning</label>
        <input class="form-control" name="reason" type="text" id="exampleFormControlSelect1">
        </div>
        <div class="modal-footer">
        <button type="submit" name="req" value="{{key_req}}" class="btn btn-warning btn-circle btn-lg">
        Send
        </button>
        </div>
        </form>
        </div>
        </div>
        </div>
        </div>

        <div class="col-lg-1">

        <button data-toggle="modal" data-target="#reject{{key_req}}" class="btn btn-danger btn-circle btn-lg">
        <i class="fas fa-times-circle"></i>
        </button>

        <div class="modal" id="reject{{key_req}}" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title">Reject Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <form method="POST" action="view-reject">
        <div class="modal-body">
        <label>Enter Reason For Request Rejection</label>
        <input class="form-control" name="reason" type="text" id="exampleFormControlSelect1">
        </div>
        <div class="modal-footer">
        <button type="submit" name="req" value="{{key_req}}" class="btn btn-danger btn-circle btn-lg">
        Send
        </button>
        </div>
        </form>
        </div>
        </div>
        </div>

        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
      {% else %}
      <div class="row">
      <div class="col-lg-8">
      <div class="card">
      <div class="card-body">
      <h3 class="card-title">Table #{{req.info.table}}</h3><br>
      {% for key_itms, itms in req.items() %}
      <!-- <h3>{{itms}}</h3> -->

      {% if key_itms == 'info' %}
      <!-- -->
      <h4></h4>
      {% else %}
      <!-- <br><h4>{{itms.dispStr}}</h4> -->
      <!-- <h3>{{itms}}</h3> -->

      <h3 class="card-text">{{itms.dispStr}} <input type="checkbox"></h3><br>



      {% endif %}

      {%endfor%}

    </div>
    </div>
    </div>
    </div>
      <div class="row">
      <div class="col-lg-1">
      <form method="POST" action="view-success">
      <button type="submit" name="req" value="{{key_req}}" class="btn btn-success btn-circle btn-lg">
      <i class="fas fa-check"></i>
      </button>
      </form>
      </div>
      <div class="col-lg-1">
      <button data-toggle="modal" data-target="#warn{{key_req}}" class="btn btn-warning btn-circle btn-lg">
      <i class="fas fa-exclamation-triangle"></i>
      </button>
      <div class="modal" id="warn{{key_req}}" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title">Accept Request With Warning</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <form method="POST" action="view-warning">
      <div class="modal-body">
      <label>Enter Warning</label>
      <input class="form-control" name="reason" type="text" id="exampleFormControlSelect1">
      </div>
      <div class="modal-footer">
      <button type="submit" name="req" value="{{key_req}}" class="btn btn-warning btn-circle btn-lg">
      Send
      </button>
      </div>
      </form>
      </div>
      </div>
      </div>
      </div>

      <div class="col-lg-1">

      <button data-toggle="modal" data-target="#reject{{key_req}}" class="btn btn-danger btn-circle btn-lg">
      <i class="fas fa-times-circle"></i>
      </button>

      <div class="modal" id="reject{{key_req}}" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title">Reject Request</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <form method="POST" action="view-reject">
      <div class="modal-body">
      <label>Enter Reason For Request Rejection</label>
      <input class="form-control" name="reason" type="text" id="exampleFormControlSelect1">
      </div>
      <div class="modal-footer">
      <button type="submit" name="req" value="{{key_req}}" class="btn btn-danger btn-circle btn-lg">
      Send
      </button>
      </div>
      </form>
      </div>
      </div>
      </div>

      </div>
      </div>


      {% endif %}

      <hr>
      {%endfor%}
      <br><br><br><br><br><br>
  </div>
  </div>


    <div id="menu1" class="container tab-pane fade"><br>
      <input class="form-control" id="myInput" type="text" placeholder="Search..">
      <br>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Active {{menu}} Items</th>
          </tr>
        </thead>

        <tbody id="myTable">
          {% for act in range(activeItems|count) %}

          <tr>
            <td>{{activeItems[act]}} <a href="deactivate-item~{{activeItems[act]}}~{{menu}}" class="btn btn-danger btn-circle btn-lg">
              <i class="fas fa-times-circle"></i>
              </a></td>
          </tr>

          {%endfor%}

        </tbody>
      </table>

    <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>

    </div>
    <div id="menu-tickets" class="container tab-pane fade"><br>
      <div class="container">
        {% for key_ord, ord in orders.items() %}

        {% if ord.ticket %}
        <h3>Table #{{ord.table}}</h3><br>
        {% for key_key_ord, ord_ord in ord.ticket.items() %}
        {% for key_ord_itm, ord_itm in ord_ord.items() %}
        <h4>{{ord_itm.dispStr}}</h4><br>
        {%endfor%}
        {%endfor%}
        <br><h4>Subtotal {{"$%.2f"|format(ord.subtotal)}}</h4><h5>{{ord.paid}}</h5><br><br>

        <a href="#" data-toggle="modal" data-target="#edit-{{key_ord}}" class="btn btn-lg btn-primary btn-circle">
          Edit Bill
        <i class="fas fa-edit"></i>
        </a>
        <br>
        <br>
        <form method="POST" action="view-clearTicket">
        <button href="#" type="submit" name="req" value="{{key_ord}}" class=" btn btn-lg btn-danger btn-circle">
          Clear Ticket
        <i class="fas fa-times-circle"></i>
      </button>
        </form>


        <!-- Modal -->
        <div class="modal fade" id="edit-{{key_ord}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Bill</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">

          <form method="POST" action="view-editBill">
          <div class="modal-body">
            <label>Enter Bill Change</label>
            <input class="form-control" name="amt" type="number" step="0.01" placeholder="Amount (to deduct from bill enter a negative number)" id="exampleFormControlSelect1">
            <br>
            <input class="form-control" name="itm" type="text"  placeholder="enter reason for bill change" id="exampleFormControlSelect2">
          </div>
          <div class="modal-footer">
          <button type="submit" name="req" value="{{key_ord}}" class="btn btn-info btn-circle">
            Change
          </button>
          </div>
          </form>
        </div>
        </div>
        </div>
        </div>



        <hr><br>
        {% endif %}
        {%endfor%}
        <br><br><br>
      </div>
    </div>

  <div id="menu3" class="container tab-pane fade"><br>

  <input class="form-control" id="myInput2" type="text" placeholder="Search..">
  <br>
  <table class="table table-bordered table-striped">
  <thead>
  <tr>
  <th>Inactive {{menu}} Items</th>
  </tr>
  </thead>
  <tbody id="myTable2">
    {% for inact in range(inactiveItems|count) %}
  <tr>
  <td>{{inactiveItems[inact]}} <a href="activate-item~{{inactiveItems[inact]}}~{{menu}}" class="btn btn-success btn-circle btn-lg">
  <i class="fas fa-check"></i>
  </a></td>
{%endfor%}
  </tr>
  </tbody>
  </table>
  </div>

  <script>
  $(document).ready(function(){
  $("#myInput2").on("keyup", function() {
  var value = $(this).val().toLowerCase();
  $("#myTable2 tr").filter(function() {
  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
  });
  });
  });
  </script>

  </div>



  </div>





<!-- Core plugin JavaScript-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>

<!-- Custom scripts for all pages-->

</body>
</html>
