<!DOCTYPE html>
<html lang="en">

<head>
<link rel="apple-touch-icon" sizes="60x60" href="../../../static/img/CedarRoboticsLogo.jpg">
<link rel="apple-touch-icon" sizes="57x57" href="../../../static/img/CedarRoboticsLogo.jpg">
<link rel="apple-touch-icon" sizes="72x72" href="../../../static/img/CedarRoboticsLogo.jpg">
<link rel="apple-touch-icon" sizes="76x76" href="../../../static/img/CedarRoboticsLogo.jpg">
<link rel="apple-touch-icon" sizes="114x114" href="../../../static/img/CedarRoboticsLogo.jpg">
<link rel="apple-touch-icon" sizes="120x120" href="../../../static/img/CedarRoboticsLogo.jpg">
<link rel="apple-touch-icon" sizes="144x144" href="../../../static/img/CedarRoboticsLogo.jpg">
<link rel="apple-touch-icon" sizes="152x152" href="../../../static/img/CedarRoboticsLogo.jpg">
<link rel="apple-touch-icon" sizes="180x180" href="../../../static/img/CedarRoboticsLogo.jpg">
<link rel="icon" type="image/png" sizes="192x192"  href="../../../static/img/CedarRoboticsLogo.jpg">
<link rel="icon" type="image/png" sizes="32x32" href="../../../static/img/CedarRoboticsLogo.jpg">
<link rel="icon" type="image/png" sizes="96x96" href="../../../static/img/CedarRoboticsLogo.jpg">
<link rel="icon" type="image/png" sizes="16x16" href="../../../static/img/CedarRoboticsLogo.jpg">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="../../../static/img/CedarRoboticsLogo.jpg">
<meta name="theme-color" content="#000000">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="Caleb John">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="../../../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" int
egrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<title>Schedule</title>
</head>
<body>
<div class="container">
<br>
<br>
<h3>Schedule <a href="admin-panel" class="button btn-lg"><i class="fas fa-home"></i></a></h3>
<hr>
<br>
<h4>{{day}} Schedule</h4>
<br>
<button data-toggle="modal" data-target="#addmenu" class="button btn-lg btn-success">Add Time Slot <i class="fas fa-plus-square"></i></button><br>

  <!-- Modal -->
  <div class="modal fade" id="addmenu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
  <div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Edit Menu</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
  <div class="alert alert-warning" role="alert">
  <h5>
  Make Sure The Menu You Chose Is Active</h5>
  </div><hr>
  <form method="POST" action="addTs~{{day}}">
  <div class="row">
  <div class="col-sm-4">
  Hour <input type="number" max="23" min="0" name="hour" required>
  </div>
  <div class="col-sm-1">
  :
  </div>
  <div class="col-sm-4">
  Minute <input type="number" max="59" min="0" name="minute" required>
  </div>
  </div>
  <br>
  {% for y in range(menuTotals|count) %}
  <input type="radio" name="menu" value="{{menuTotals[y]}}" required>  {{menuTotals[y]}}
  <br>
  {% endfor %}
  <hr>
  <input type="submit" value="Change" class="btn btn-primary">
  </form>
  </div>
  </div>
  </div>
  </div>
  <!-- Modal -->

<br>
<div class="row">

  <div class="col-4">
<div class="list-group" id="myList" role="tablist">
  {% for j in range(menuTimesStr|count) %}

  <a class="list-group-item list-group-item-action" data-toggle="list" href="#{{menus[j]}}" role="tab">{{menuTimesStr[j]}}</a>

  {% endfor %}

</div>
  </div>

<!-- Tab panes -->
<div class="col-8">
<div class="tab-content">
  {% for i in range(menuTimesStr|count) %}
  {% if menus[i] == "End-of-Day" or menus[i] == "Start-of-Day"  %}
  <div class="tab-pane" id="{{menus[i]}}" role="tabpanel">{{menus[i]}}</div>
  {% else %}
  <div class="tab-pane" id="{{menus[i]}}" role="tabpanel">

    <h4>Menu: {{menus[i]}} <hr><br>
    <button data-toggle="modal" data-target="#menu-{{menus[i]}}" class="button btn-lg btn-info">Edit Menu</button>
      <!-- Modal -->
      <div class="modal fade" id="menu-{{menus[i]}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Edit Menu</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
      <div class="alert alert-warning" role="alert">
      <h5>
      Make Sure The Menu You Chose Is Active</h5>
      </div><hr>
      <form method="POST" action="schedMenu~{{day}}~{{menus[i]}}~{{menuTimes[i]}}">
      {% for y in range(menuTotals|count) %}
      <input type="radio" name="menu" value="{{menuTotals[y]}}" required>  {{menuTotals[y]}}
      <br>
      {% endfor %}
      <hr>
      <input type="submit" value="Change" class="btn btn-primary">
      </form>
      </div>
      </div>
      </div>
      </div>
      <!-- Modal -->
    <br><br>
    <button data-toggle="modal" data-target="#editTs-{{menus[i]}}" class="button btn-lg btn-secondary">Edit Time Slot</button>
    <!-- Modal -->
    <div class="modal fade" id="editTs-{{menus[i]}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Time Slot Start Time (24 Hour Military Time)</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" action="editMenuTime~{{day}}~{{menus[i]}}">
            <div class="row">
            <div class="col-sm-4">
            Hour <input type="number" max="23" min="0" name="hour" required>
            </div>
            <div class="col-sm-1">
            :
            </div>
            <div class="col-sm-4">
            Minute <input type="number" max="59" min="0" name="minute" required>
            </div>
            </div>
            <hr>
            <input class="btn-lg btn-success" type="submit" value="Submit">
            </form>
          </div>
        </div>
      </div>
    </div>
<!-- Modal -->
    <br><br>
    <a href="remTs~{{day}}~{{menus[i]}}" class="button btn-lg btn-danger">Remove Time Slot</a>
    </h4>
  </div>
  {% endif %}
  {% endfor %}

</div>
</div>
</div>


<br>
<br>
<br>
<br>
<br>
</div>
</body>
</html>
