<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="apple-touch-icon" sizes="60x60" href="../../../static/img/CedarRoboticsLogo.jpg">
  <link rel="apple-touch-icon" sizes="57x57" href="../../../static/img/CedarRoboticsLogo.jpg">
  <link rel="apple-touch-icon" sizes="72x72" href="../../../static/img/CedarRoboticsLogo.jpg">
  <link rel="apple-touch-icon" sizes="76x76" href="../../../static/img/CedarRoboticsLogo.jpg">
  <link rel="apple-touch-icon" sizes="114x114" href="../../../static/img/CedarRoboticsLogo.jpg">
  <link rel="apple-touch-icon" sizes="120x120" href="../../../static/img/CedarRoboticsLogo.jpg">
  <link rel="apple-touch-icon" sizes="144x144" href="../../../static/img/CedarRoboticsLogo.jpg">
  <link rel="apple-touch-icon" sizes="152x152" href="../../../static/img/CedarRoboticsLogo.jpg">
  <link rel="apple-touch-icon" sizes="180x180" href="../../../static/img/CedarRoboticsLogo.jpg">
  <link rel="icon" type="image/png" sizes="192x192"  href="../../../static/img/CedarRoboticsLogo.jpg">
  <link rel="icon" type="image/png" sizes="32x32" href="../../../static/img/CedarRoboticsLogo.jpg">
  <link rel="icon" type="image/png" sizes="96x96" href="../../../static/img/CedarRoboticsLogo.jpg">
  <link rel="icon" type="image/png" sizes="16x16" href="../../../static/img/CedarRoboticsLogo.jpg">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="msapplication-TileImage" content="../../../static/img/CedarRoboticsLogo.jpg">
  <meta name="theme-color" content="#000000">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Caleb John">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
      <link href="../../../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <title>Admin Panel</title>

</head>

<body>
<br>

<div class="container">
  <h2>{{restName}} {{locName}} Admin Panel</h2>
  <br>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home">Menus</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu1">Schedule</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu2">Promos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#feedback">Customer Feedback</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#emp">Account Info</a>
    </li>
  </ul>

  <!-- Tab panes -->
    <div class="tab-content">

    <div id="home" class="container tab-pane active"><br>
    <div class="container">
      <div class="list-group">
    <a href="create-menu" class="list-group-item list-group-item-action">Create New Menu</a>
    <a href="view-menu" class="list-group-item list-group-item-action">Edit Existing Menu</a>
    <a href="act-menu" class="list-group-item list-group-item-action">Deactivate/Activate Menu</a>
  </div>


    </div>
    </div>


      <div id="menu1" class="container tab-pane fade">
      <br>
      <div class="container">
      <div class="list-group">
      <a href="schedule-MON" class="list-group-item list-group-item-action">Monday</a>
      <a href="schedule-TUE" class="list-group-item list-group-item-action">Tuesday</a>
      <a href="schedule-WED" class="list-group-item list-group-item-action">Wednesday</a>
      <a href="schedule-THURS" class="list-group-item list-group-item-action">Thursday</a>
      <a href="schedule-FRI" class="list-group-item list-group-item-action">Friday</a>
      <a href="schedule-SAT" class="list-group-item list-group-item-action">Saturday</a>
      <a href="schedule-SUN" class="list-group-item list-group-item-action">Sunday</a>
      </div>
      </div>
      </div>



    <div id="menu2" class="container tab-pane fade"><br>
      <div class="container">
      <div class="list-group">
        <br>
        {% for i in range(discNames|count) %}
      <h4>{{discNames[i]}}  <a href="remCpn~{{discMenu[i]}}~{{discNames[i]}}" class="btn-danger btn-sm"> <i class="fas fa-times-circle"></i></a></h4>
      <br>
      <h5>Item: {{discItms[i]}}</h5>
      <br>
      <h5>Type: {{discTypes[i]}}</h5>
      <br>
      <h5>Amt: {{discAmts[i]}}</h5>
      <br>
      <h5>{{discLimMin[i]}}</h5>
      <br>
      <h1><hr></h1>
      {%endfor%}
      </div>
      </div>
    </div>

    <div id="emp" class="container tab-pane fade"><br>
      <div class="container">
        <br>
      <h4>Change Employee Code <a data-toggle="modal" data-target="#empCode_infoModal" class="button btn-lg btn-light"><i class="fas fa-edit"></i></a></h4>
      <!-- Modal -->
      <div class="modal fade" id="empCode_infoModal" role="dialog">
      <div class="modal-dialog modal-lg">
      <div class="modal-content">
      <div class="modal-header">
      <h4 class="modal-title">Enter Admin Password <button type="button" class="close" data-dismiss="modal">&times;</button></h4>
      </div>
      <form method="POST" action="editEmployee">
      <div class="modal-body">
      <input type="password" class="form-control" name="pw"  required>
      </div>
      <div class="modal-footer">
      <button type="submit" class="btn btn-success">Next</button>
      </div>
      </form>
      </div>
      </div>
      </div>

      <br>
      <h4>Add/Remove Admin Acoount <a data-toggle="modal" data-target="#admin_infoModal" class="button btn-lg btn-light"><i class="fas fa-edit"></i></a></h4>
      <div class="modal fade" id="admin_infoModal" role="dialog">
      <div class="modal-dialog modal-lg">
      <div class="modal-content">
      <div class="modal-header">
      <h4 class="modal-title">Enter Admin Password <button type="button" class="close" data-dismiss="modal">&times;</button></h4>
      </div>
      <form method="POST" action="addAdmin">
      <div class="modal-body">
      <input type="password" class="form-control" name="pw"  required>
      </div>
      <div class="modal-footer">
      <button type="submit" class="btn btn-success">Next</button>
      </div>
      </form>
      </div>
      </div>
      </div>
      </div>
    </div>

    <div id="feedback" class="container tab-pane fade">
    <br>
    <div class="container text-center">
    <div class="alert alert-info" role="alert">
    Questions and Comments Are Only Recorded In Sitdown Mode
    </div><hr>

    <div class="row">

    <div class="col-lg-6">
      <h3>Questions</h3>
      <hr>
    <br>
    <a class="btn btn-success" href="add-feedback" role="button">Add Question <i class="fas fa-plus"></i></a><hr><br>

    {% for key_feed, feed in feedback.items() %}

    <h4>{{feed.info.name}} <a class="btn btn-sm btn-danger" href="rem-feedback~{{key_feed}}" role="button"><i class="fas fa-times-circle"></i></a><br></h4>
    <h5>Current Score: {{feed.info.currentScore}}/{{feed.info.maxScore}} <br>Sample Size: {{feed.info.count}} </h5><br>

    <h4>Answers</h4><br>
    <a class="btn btn-success" href="add-feedback-ans~{{key_feed}}" role="button">Add Response <i class="fas fa-plus"></i></a><br>
    <br>
    {% for key_ans, v_ans in feed.ans.items() %}
    <h5>{{v_ans.name}} <a class="btn btn-sm btn-danger" href="rem-resp~{{key_feed}}~{{key_ans}}" role="button"><i class="fas fa-times-circle"></i></a></h5><h5>Score: {{v_ans.score}}</h5><br>
    {% endfor %}
    <br>
    <hr>
    {% endfor %}

  </div>
<div class="col-lg-6">
<h3>Comments</h3><hr>



<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#new-comment" role="tab" aria-controls="home" aria-selected="true">New</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#saved-comment" role="tab" aria-controls="profile" aria-selected="false">Saved</a>
  </li>

</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="new-comment" role="tabpanel" aria-labelledby="home-tab"><br>
    {% if comments.new %}
    {% for key_new_comments, v_new_comments in comments.new.items() %}

    <h3>{{v_new_comments.name}} @ {{v_new_comments.timeStamp}}</h3>
    <h4>Comment: {{v_new_comments.comment}}</h4><h4><a class="btn btn-sm btn-danger" href="rem-new-comment~{{key_new_comments}}" role="button"><i class="fas fa-times-circle"></i></a>
      <a class="btn btn-sm btn-secondary" href="save-comment~{{key_new_comments}}" role="button">Save <i class="fas fa-download"></i></i></a>
    </h4>
    <hr>

    {% endfor %}
    {% else %}
    <h3>No New Comments</h3>
    {% endif %}
  </div>


  <div class="tab-pane fade" id="saved-comment" role="tabpanel" aria-labelledby="profile-tab"><br>
    {% if comments.saved %}
    {% for key_saved_comments, v_saved_comments in comments.saved.items() %}

    <h3>{{v_saved_comments.name}} @ {{v_saved_comments.timeStamp}}</h3>
    <h4>Comment: {{v_saved_comments.comment}}</h4><h4><a class="btn btn-sm btn-danger" href="rem-saved-comment~{{key_saved_comments}}" role="button"><i class="fas fa-times-circle"></i></a></h4>
    <hr>

    {% endfor %}
    {% else %}
    <h3>No Saved Comments</h3>
    {% endif %}
  </div>

</div>



</div>

    </div>

  </div>

    </div>

      <!-- <div id="menu3" class="container tab-pane fade"><br> -->
      <!-- </div> -->


  </div>




<!-- Core plugin JavaScript-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>

<!-- Custom scripts for all pages-->

</body>
</html>
