<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="apple-touch-icon" sizes="60x60" href="../../../static/img/CedarRoboticsLogo.jpg">
    <link rel="apple-touch-icon" sizes="57x57" href="../../../static/img/CedarRoboticsLogo.jpg">
    <link rel="apple-touch-icon" sizes="72x72" href="../../../static/img/CedarRoboticsLogo.jpg">
    <link rel="apple-touch-icon" sizes="76x76" href="../../../static/img/CedarRoboticsLogo.jpg">
    <link rel="apple-touch-icon" sizes="114x114" href="../../../static/img/CedarRoboticsLogo.jpg">
    <link rel="apple-touch-icon" sizes="120x120" href="../../../static/img/CedarRoboticsLogo.jpg">
    <link rel="apple-touch-icon" sizes="144x144" href="../../../static/img/CedarRoboticsLogo.jpg">
    <link rel="apple-touch-icon" sizes="152x152" href="../../../static/img/CedarRoboticsLogo.jpg">
    <link rel="apple-touch-icon" sizes="180x180" href="../../../static/img/CedarRoboticsLogo.jpg">
    <link rel="icon" type="image/png" sizes="192x192" href="../../../static/img/CedarRoboticsLogo.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../static/img/CedarRoboticsLogo.jpg">
    <link rel="icon" type="image/png" sizes="96x96" href="../../../static/img/CedarRoboticsLogo.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../static/img/CedarRoboticsLogo.jpg">
    <link rel="manifest" href="../../../static/manifest.json">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="../../../static/img/CedarRoboticsLogo.jpg">
    <meta name="theme-color" content="#000000">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Caleb John">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/80bbe0004b.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <title>Sign Up</title>
</head>

<body>
    <div class="container-fluid">
        <br>
        <div class="row">

            <div class="col-10">
                <h4>Select Kiosk Hardware</h4>
                <br>
            </div>

            <div class="col-2">
                <h6><img width="50" src="../../static/img/CedarRoboticsLogo.jpg"></h6>

            </div>
        </div>
        <hr>
        <form method="POST" id="addKiosk" action="kioskSelect">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {% for n in range(numKiosks) %}
            <h4>Tablet #{{n+1}}</h4>
            <h5>Pick Tablet Size</h5>
            <br>
            <div class="row">
                <div class="col">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            8 Inch Tablet w/ Card Reader ($5/mo + $180) <input class="radio" type="radio" name="tablet-{{n}}" value="8" required>
                        </h5>
                    <img class="card-img-top"
                        src="https://image-us.samsung.com/SamsungUS/home/mobile/tablets/sm-t290-taba-8/gallery/Gallery-TabA8-Black-1.jpg?$product-details-jpg$" src="https://image-us.samsung.com/SamsungUS/home/mobile/tablets/sm-t290-taba-8/gallery/Gallery-TabA8-Black-1.jpg?$product-details-jpg$"
                        alt="8 Inch Tablet">
                        <img width="50" class="card-img-top" src="https://officedepot.scene7.com/is/image/officedepot/128846_p_square_magstripe_front?$OD%2DLarge$&wid=450&hei=450">
                </div>
                    </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            10 Inch Tablet w/ Card Reader ($5/mo + $250) <input class="radio" type="radio" name="tablet-{{n}}" value="10" required>
                        </h5>

                    </div>
                    <img class="card-img-top"
                        src="https://image-us.samsung.com/SamsungUS/home/mobile/tablets/pdp/tab-a/black/sm-t510_tab_a_10_1_bk_v_LockUp_rgb.jpg?$product-details-jpg$"
                        alt="10 Inch Tablet">
                        <img width="50" class="card-img-top" src="https://officedepot.scene7.com/is/image/officedepot/128846_p_square_magstripe_front?$OD%2DLarge$&wid=450&hei=450">
                </div>
            </div>

            </div>
            <br>
            <br></br>
            <h5>Pick Tablet Holder</h5><br>
            <div class="row">
                <div class="col">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Folio Case (Free) <input class="radio" type="radio" name="case-{{n}}" value="folio" required>
                        </h5>
                    </div>
                    <img class="card-img-top"
                        src="https://images-na.ssl-images-amazon.com/images/I/81f8QbAMneL._AC_SL1500_.jpg"
                        alt="Folio">
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Floor Stand ($20) <input class="radio" type="radio" name="case-{{n}}" value="floor" required>
                        </h5>

                    </div>
                    <img class="card-img-top"
                    src="https://images-na.ssl-images-amazon.com/images/I/61LOl9pSe3L._AC_SL1500_.jpg"
                        alt="Floor Stand">
                </div>
            </div>

            </div>
            <br>
            <br></br>
            <hr>
            <br></br>




            {% endfor %}
            <br>

            <div class="text-center">
                <input type="submit" class="btn btn-lg btn-success" form="addKiosk" value="Next">
            </div>
        </form>


        <br><br><br><br>

    </div>









    </div>
</body>

</html>